@{
    ViewBag.Title = "About Us";
	ViewBag.Description = "";
	ViewBag.BodyClass = "about";
}

<section class="section row">
	<div id="primary">
		<div class="section-content col sm-1">&#160;</div>
		<div class="section-content col sm-9">
			<nav class="breadcrumb" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
				<h6 class="assistive-text">Breadcrumb navigation</h6>
				<ol>
					<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
					<li><span itemprop="title">@ViewBag.Title</span></li>
				</ol>
			</nav>
			<header class="section-header">
				<h1 class="section-title">About Lafayette Testing Services, Inc. (LTS)</h1>
			</header>
			<div class="section-content">
				<div class="tabs-horizontal">
					<ul class="resp-tabs-list">
						<li>Overview</li>
						<li>Lab Diversification</li>
						<li>Image Gallery</li>
					</ul> 
					<div class="resp-tabs-container">                                                        
						<div>
							<p><strong>Lafayette Testing Services, Inc. (LTS)</strong> was established to meet the increasing need that the industrial community has for high quality Nondestructive Testing and CNC Precision Machining services at competitive prices.</p>
							<aside id="lts-leadership">
								<img src="~/Content/images/lafayette-testing-services-leadership.jpg" alt="Lafayette Testing Services Leadership" />
								<small class="caption"><strong>LTS Leadership:</strong> Terry DiLorenzo: President, Willie Truitt: Vice President Sales/Marketing, Jeff Jerome: Laboratory Manager, and Kirven Zerbe: Vice President/Director of Operations</small>
							</aside>
							<p>Since our beginning in 1992, LTS has experienced substantial growth. The success of our company is a result of our operating philosophy. We put the customer first by considering <strong>Time, Cost, Quality and Customer Service.</strong></p>
							<p>We understand that <strong>Time</strong> is very valuable in today&#8217;s competitive market. We are constantly looking for ways to improve inspections and refine current procedures without compromising quality. Unexpected failures can result in <strong>Costly</strong> repairs, downtime, and injury due to consequential damages. Our technical services can reduce the risk of such occurrences. We also understand that <strong>Quality</strong> is necessary because of the performance expectations of our customers. Therefore, we deliver the highest quality service and assure reliability. We feel that our name must represent quality to our customers and to ourselves.</p>
							<p>Lafayette Testing Service&#8217;s continued success depends upon complete customer satisfaction. Customer Service is a top priority and we strive to insure quality service in a timely manner at a competitive rate. At LTS we set our goals to achieve total customer satisfaction and to deliver outstanding service. <strong class="uppercase">service second to none.</strong></p>
							<h2 id="professionals">Dedicated Professionals&#8230; The LTS advantage</h2>
							<p>When LTS handles your Nondestructive Testing and CNC Precision Machining, you can rest assured that you are in the hands of dedicated professionals. From start to finish, you will find a valuable partner working with the most updated technology to make sure you get accurate results within the shortest possible time frame.</p>
						</div>
						<div>
							<h2>LTS Laboratory Diversification Program</h2>
							<p>In 1997, LTS established our Laboratory Diversification Program. To compliment our Nondestructive Testing services we&#39;ve added other quality services such as Sandblasting, Welding, Mechanical Polishing, and CNC Precision Machining to achieve our goal of total customer satisfaction and to deliver outstanding quality services in a timely manner at a competitive rate.</p>
							<p>Many products being inspected utilizing Nondestructive Testing methods also require specific processes after inspections have been completed. Providing multiple quality and accurate services at our facility can help reduce transportation costs and lead times for our customers.</p>
							<p>Example: Processes required on Lifting Brackets P/N 122-3204, all of which were accomplished at our facility:</p>
							<ol>
								<li>CNC Precision Machining</li>
								<li>Pre-Clean</li>
								<li>Magnetic Particle Inspection</li>
								<li>Demagnetization</li>
								<li>Post Wash</li>
								<li>Sandblasting</li>
								<li>Visual Inspection</li>
								<li>Rust Inhibitor Application</li>
								<li>Package, Stock and Release.</li>
							</ol>
							<p>We would like to work with you to determine your requirements and design our services to meet your specific needs. If you would like a quote or additional information on any of our available services, please <strong>call anytime at <span class="tel">(414) 332-3677</span> or <span class="tel">(800) 337-4884</span>.</strong></p>
							<h3>Some of Those Industries which LTS Services Are:</h3>
							<ul>
								<li>Pharmaceutical Industry</li>
								<li>Food Industry</li>
								<li>Pulp and Paper</li>
								<li>Automotive</li>
								<li>Casting Industry</li>
								<li>Aerospace</li>
								<li>Department of Transportation</li>
								<li>Refinery Industry</li>
							</ul>
						</div>
						<div>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS081706_196.jpg"><img src="~/Content/images/about/thumbnails/LTS081706_196.jpg" alt="LTS081706_196" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS081706_231.jpg"><img src="~/Content/images/about/thumbnails/LTS081706_231.jpg" alt="LTS081706_231" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS081706_256.jpg"><img src="~/Content/images/about/thumbnails/LTS081706_256.jpg" alt="LTS081706_256" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS081706_270.jpg"><img src="~/Content/images/about/thumbnails/LTS081706_270.jpg" alt="LTS081706_270" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS081706_302.jpg"><img src="~/Content/images/about/thumbnails/LTS081706_302.jpg" alt="LTS081706_302" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS081706_329.jpg"><img src="~/Content/images/about/thumbnails/LTS081706_329.jpg" alt="LTS081706_329" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS050207_006.jpg"><img src="~/Content/images/about/thumbnails/LTS050207_006.jpg" alt="LTS050207_006" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS050207_023.jpg"><img src="~/Content/images/about/thumbnails/LTS050207_023.jpg" alt="LTS050207_023" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS050207_046.jpg"><img src="~/Content/images/about/thumbnails/LTS050207_046.jpg" alt="LTS050207_046" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS050207_103.jpg"><img src="~/Content/images/about/thumbnails/LTS050207_103.jpg" alt="LTS050207_103" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS050207_118.jpg"><img src="~/Content/images/about/thumbnails/LTS050207_118.jpg" alt="LTS050207_118" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS050207_133.jpg"><img src="~/Content/images/about/thumbnails/LTS050207_133.jpg" alt="LTS050207_133" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS081706_083.jpg"><img src="~/Content/images/about/thumbnails/LTS081706_083.jpg" alt="LTS081706_083" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS081706_147.jpg"><img src="~/Content/images/about/thumbnails/LTS081706_147.jpg" alt="LTS081706_147" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS081706_168.jpg"><img src="~/Content/images/about/thumbnails/LTS081706_168.jpg" alt="LTS081706_168" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/about/images/LTS081706_194.jpg"><img src="~/Content/images/about/thumbnails/LTS081706_194.jpg" alt="LTS081706_194" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col sm-2 accent last">
			<img src="~/Content/images/right-rail-entrance.jpg" alt="Entrance to Lafayette Testing Services" />
		</div>
	</div>
</section>