@{
    ViewBag.Title = "Contact Us";
	ViewBag.BodyClass = "contact";
}

<section class="section row">
	<div id="primary" class="">
		<header class="section-header col">
			<h1 class="section-title">@ViewBag.Title</h1>
		</header>
		<div class="section-content col md-4">
		</div>
	</div>
</section>