@{
    ViewBag.Title = "Contact Us";
	ViewBag.Description = "";
	ViewBag.BodyClass = "contact";
}

<section class="section row">
	<div id="primary" class="">
		<nav class="breadcrumb col lg-12" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
			<h1 class="assistive-text">Breadcrumb navigation</h1>
			<ol>
				<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
				<li><span itemprop="title">@ViewBag.Title</span></li>
			</ol>
		</nav>
		<header class="section-header col">
			<h1 class="section-title">@ViewBag.Title</h1>
		</header>
		<div class="section-content col lg-10">
			<span itemscope itemtype="http://schema.org/LocalBusiness">
				<span itemprop="name">Lafayette Testing Services</span><br />
				<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
					<span itemprop="streetAddress">3710 North Richards Street</span><br />
					<span itemprop="addressLocality">Milwaukee</span>, <span itemprop="addressRegion">WI</span> <span itemprop="postalCode">53212</span><br />
					Main: <span class="tel" itemprop="telephone">1-800-337-4884</span><br />
					Fax: <span itemprop="faxNumber">414-332-3652</span><br />
					<a itemprop="maps" target="_blank" href="http://maps.google.com/maps?saddr=My+Location&daddr=3710+North+Richards+Street-Milwaukee%2c+WI+53212">Get Directions</a>
				</span>
			</span>
			<p>Or complete the form below to submit your questions and comments to Lafayette Testing Services.</p>
			<p class="error">&#42; Required field</p>
			<form action="/cgi-bin/formmail/formMailer.pl" name="contactForm" method="post" ID="contactForm" onSubmit="return required(this,'First Name, Last Name, Phone, E-Mail Address');">
				<div>
					<label for="firstName" id="errFirstName"><span class="error">&#42;</span>First Name</label>
					<input type="text" name="firstName" id="firstName" value="" />
				</div>
				<div>
					<label for="lastName" id="errLastName"><span class="error">&#42;</span>Last Name</label>
					<input type="text" name="lastName" id="lastName" value="" />
				</div>
				<div>
					<label for="businessType">Type of Business</label>
					<input type="text" name="businessType" id="businessType" value="" />
				</div>
				<div>
					<label for="address1">Address 1</label>
					<input type="text" name="address1" id="address1" value="" />
				</div>
				<div>		
					<label for="address2">Address 2</label>
					<input type="text" name="address2" id="address2" value="" />
				</div>
				<div>
					<label for="city">City</label>
					<input type="text" name="city" id="city" value="" />
				</div>
				<div>
				<label for="state">State/Province</label>
					<!-- INCLUDE file="includes/state_pulldown.asp" -->
				</div>
				<div>
				<label for="country">Country</label>
					<!-- INCLUDE file="includes/country_pulldown.asp" -->
				</div>
				<div>
					<label for="zip">ZIP Code</label>
					<input type="text" class="zip" name="zip" id="zip" value="" maxlength="10" />
				</div>
				<div>
					<label for="phone" id="errPhone"><span class="error">&#42;</span>Phone</label>
					<input type="text" name="phone" id="phone" value="" maxlength="12" />
				</div>
				<div>
					<label for="email" id="errEmail"><span class="error">&#42;</span>Email Address</label>
					<input type="text" name="email" id="Text13" value="" />
				</div>
				<div>
					<label for="comments">Comments</label>
					<textarea name="comments" cols="40" rows="8"></textarea>
				</div>
				<div>
					<input type="submit" class="btn btn-primary" name="Submit" value="Submit" id="Submit1" />
				</div>
			</form>	
		</div>
		<div class="section-content col lg-2 accent">
			<img src="~/Content/images/right-rail-entrance.jpg" alt="Entrance to Lafayette Testing Services" />
		</div>
	</div>
</section>