@{
    ViewBag.Title = "Non Destructive Testing (NDT) Services";
    ViewBag.Description = "Lafayette Testing Services, Inc. offers high quality nondestructive testing services specializing in radiography, digital radiography, high energy x-ray, magnetic particle, liquid penetrant, and ultrasonics and CNC precision machining services.";
	ViewBag.BodyClass = "home";
}


<section class="section row">
	<div id="primary">
		<div id="positioning-statement" class="row">	
			<img src="~/Content/images/high-energy-x-ray-testing.jpg" class="section-content col sm-5" alt="Lafayette Testing Services Team members preparing a large-scale product for a high energy x-ray test." />
			<div class="section-content col sm-7">
				<h1>Lafayette Testing Services</h1>
				<h2>Lorem Ipsum Dolor Site Amet Lorem Dolor</h2>
				<p>Lorem ipsum dolor sit amet, eos in hinc laudem expetenda, mel ex inani adolescens. Ex impetus minimum interesset quo, quo noster aperiri ad. Ad est saperet electram, solum consequuntur cu vix. Harum noluisse adipiscing at pri. Ne eos doming voluptua percipitur, duo et zril ullamcorper.</p>
				<p>Ius ad probo zril assueverit, ut nec ullum velit intellegebat. Et erant corpora torquatos eum, eu pro sumo interesset. Usu at malis ludus. At sed quod rationibus, facete aperiam ei vis. Essent vivendum an cum, an tantas dictas epicuri est, ei ius placerat delicata referrentur.</p>
				<p>Adhuc tamquam principes quo at, ea partiendo dissentias mel. Ut dicunt singulis eam, libris aeterno platonem in vix. Id dicant reformidans vix, mutat voluptatibus necessitatibus eu mei. Minim indoctum duo te. His ex libris intellegat, sit nemore molestie sadipscing at.</p>
				<p>Id possit corrumpit patrioque eos. Ut tempor possit intellegam sed. Vix ut augue consulatu, ne qui option virtute perfecto. Meis vidisse eleifend quo ne. Vix ut ornatus consulatu.</p>
			</div>
		</div>
		<div class="row">
			<div class="section-content col sm-1">&#160;</div>
			<div class="section-content col sm-10">
				<ul id="benefits-narratives" class="reduced">
					<li>
						<img src="~/Content/images/benefits-parts-dip.jpg" alt="Liquid Penetrant Testing" />
						<h3>Leading NDT Testing and CNC Precision Machining Services</h3>
						<p>Our <a href="/about#undefined2">Laboratory Diversification Program</a> helps reduce transportation costs and lead times by providing quality NDT Testing (non destructive) and <a href="/services/cnc-precision-machining">CNC Precision Machining Services</a>.</p>
						<p>The latest in equipment technology allows LTS to provide superior quality services.</p>
						<p><a href="/about#professionals">Dedicated Professionals&#8230;</a>the LTS Advantage.</p>
					</li>
					<li id="benefits-narrative-central">
						<img src="~/Content/images/benefits-x-ray-crop.jpg" alt="High-Energy X-Ray Testing" />
						<h3>Added Capabilities</h3>
						<p>Our X-ray department can X-Ray 12&#8243; of steel with 2T sensitivity Utilizing our 6 Million Electron Volt (6MeV) Linear Accelerator <a href="/services/high-energy-x-ray-testing">High Energy X-Ray</a>. We have added a second High Energy source and vault to accommodate larger parts and to increase production availability. Vault 4 is a new drive in vault that is 35&#8242; x 45&#8242; and houses a new 6MeV Linear accelerator. Vault 4 is self-sufficient in that several radiographic processes can be done within the same vault. These processes include Digital Radiography, High Energy X-Ray, Low energy X-Ray, and Radioisotopes: Cobalt 60 and Iridium 192 processes. The vault 4 area also has its own film processing room and interpretation room. The advantages of having a self-sufficient vault is that parts can be processed faster with limited handling time, multiple thickness parts can be X-Ray inspected within one vault.</p>
						<p>Our <a href="/services/digital-radiography-testing">Digital Radiography</a> department has expanded to include a Digital Radiography unit for all four X-Ray vaults. These new digital units were put into service to accommodate high production projects which requires fast turnaround.</p>
					</li>
					<li>
						<img src="~/Content/images/benefits-facility-crop.jpg" alt="X-Ray facility" />
						<h3>Facility Expansion</h3>
						<p>Lafayette Testing Services is proud to announce that we are growing and will be expanding our facility space. Starting February 20, 2014, work will begin to add an additional 3,800 square feet to our existing 30,000 square foot laboratory. This project is essential for improving shipping/receiving and material handling. This project also increases our Magnetic Particle and Penetrant departments to accommodate larger parts.</p>
						<p>Additional improvements and features include:</p>
						<ul>
							<li>New larger shipping/receiving area with new entrance from Richards Street.</li>
							<li>Indoor truck accessible large part handling area with a 15 ton crane.</li>
							<li>New larger Penetrant and Magnetic Particle inspection area for large parts.</li>
							<li>New fenced customer and employee parking area.</li>
						</ul>
						<p>The expansion project is expected to take about eight weeks to complete from February 20, 2014 through April 13, 2014. The project will begin at the North face of our current facility, then extend West towards Richards Street. There will be periods when the current shipping/receiving areas will be blocked. Temporary shipping/receiving areas will be located on the east side of the building along the alley way. The main entrance (the front entrance located on Richards Street) will be the only point of entry to the laboratory.</p>
						<p>We apologize in advance for any inconveniences that may occur during construction.</p>
					</li>
				</ul>
			</div>
			<div class="section-content col sm-1">&#160;</div>
		</div>
	</div>
</section>


@section featured {
	<!--div id="positioning-statement">
		<h1><span class="line-1">Quality</span> <span class="line-2">Assurance Through</span> 
			<ul class="line-3 fade">
				<li>testing</li>
				<li>evaluation</li>
				<li>professionals</li>
				<li>machining</li>
				<li>inspection</li>
				<li>precision</li>
				<li>confidence</li>
				<li>process</li>
				<li>expertise</li>
				<li>experience</li>
				<li>reputation</li>
				<li>diligence</li>
				<li>technique</li>
				<li>examination</li>
			</ul>
		</h1>
		<img id="random-banner" src="" alt="" />
	</div-->
}

<!--section class="section row">
	<div id="primary" class="section-content col sm-5">
		<header class="section-header">
			<h1 class="section-title">Leading NDT Testing and CNC Precision Machining Services</h1>
		</header>
		<img src="~/Content/images/lafayette-testing-services-data-analysis.jpg" class="right" alt="Data analysis by Lafayette Testing Services team member." /><img src="~/Content/images/lafayette-testing-services-lab.jpg" class="right" alt="Lafayette Testing Services lab." />
		<p>Our <a href="/about#undefined2">Laboratory Diversification Program</a> helps reduce transportation costs and lead times by providing quality <strong>NDT Testing (non destructive)</strong> and <a href="/services/cnc-precision-machining"><strong>CNC Precision Machining Services</strong></a>.</p>
		<p>The latest in equipment technology allows LTS to provide superior quality services.</p>
		<img src="~/Content/images/lafayette-testing-services-professionals.jpg" class="right" alt="Lafayette Testing Services team members reviewing project blueprints." />
		<p><a href="/about#professionals">Dedicated Professionals&#8230;</a>the LTS Advantage.</p>

		<h2>Added Capabilities:</h2>
		<p>Our X-ray department can X-Ray 12&#8243; of steel with 2T sensitivity Utilizing our 6 Million Electron Volt (6MeV) Linear Accelerator <a href="/services/high-energy-x-ray-testing"><strong>High Energy X-Ray</strong></a>. We have added a second High Energy source and vault to accommodate larger parts and to increase production availability. Vault 4 is a new drive in vault that is 35&#8242; x 45&#8242; and houses a new 6MeV Linear accelerator. Vault 4 is self-sufficient in that several radiographic processes can be done within the same vault. These processes include Digital Radiography, High Energy X-Ray, Low energy X-Ray, and Radioisotopes: Cobalt 60 and Iridium 192 processes. The vault 4 area also has its own film processing room and interpretation room. The advantages of having a self-sufficient vault is that parts can be processed faster with limited handling time, multiple thickness parts can be X-Ray inspected within one vault.</p>
		<p>Our <a href="/services/digital-radiography-testing"><strong>Digital Radiography</strong></a> department has expanded to include a Digital Radiography unit for all four X-Ray vaults. These new digital units were put into service to accommodate high production projects which requires fast turnaround.</p>
	</div>
	<div id="secondary" class="section-content col sm-5">
		<h2>Facility Expansion</h2>
        <p>Lafayette Testing Services is proud to announce that we are growing and will be expanding our facility space. Starting February 20, 2014, work will begin to add an additional 3,800 square feet to our existing 30,000 square foot laboratory. This project is essential for improving shipping/receiving and material handling. This project also increases our Magnetic Particle and Penetrant departments to accommodate larger parts.</p>
        <p>Additional improvements and features include:</p>
        <ul>
            <li>New larger shipping/receiving Area with new entrance from Richards Street.</li>
            <li>Indoor truck accessible large part handling area with a 15 ton crane.</li>
            <li>New larger Penetrant and Magnetic Particle inspection area for large parts.</li>
            <li>New fenced customer and employee parking area.</li>
        </ul>
        <p>The expansion project is expected to take about eight weeks to complete from February 20, 2014 through April 13, 2014. The project will begin at the North face of our current facility, then extend West towards Richards Street. There will be periods when the current shipping/receiving areas will be blocked. Temporary shipping/receiving areas will be located on the east side of the building along the alley way. The main entrance (the front entrance located on Richards Street) will be the only point of entry to the laboratory.</p>
        <p>We apologize in advance for any inconveniences that may occur during construction.</p>
	</div>
	<div id="tertiary" class="section-content col sm-2">
		<map name="servicesMap">
			<area alt="Radiography Testing" shape="poly" coords="89,21,89,85,143,46,114,25" href="/services/radiography-testing">
			<area alt="CNC Precision Machining" shape="poly" coords="142,123,88,86,142,47,155,84" href="/services/cnc-precision-machining">
			<area alt="Value Added Services" shape="poly" coords="87,151,88,87,142,124,123,144" href="/services/value-added-services">
			<area alt="Liquid Penetrant Testing" shape="poly" coords="34,123,89,85,87,153,59,149" href="/services/liquid-penetrant-testing">
			<area alt="Magnetic Particle Testing" shape="poly" coords="33,125,88,85,34,46,21,85" href="/services/magnetic-particle-testing">
			<area alt="Ultrasonics Testing" shape="poly" coords="87,21,58,27,36,45,87,86" href="/services/ultrasonics-testing">
		</map>
		<img src="~/Content/images/lafayette-testing-services-capabilities-logo.gif" usemap="#servicesMap" alt="NDT Services | Lafayette Testing Services | Non Destructive Testing" />
	</div>
</section-->