@{
    ViewBag.Title = "Privacy Statement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section row">
	<header class="section-header col">
		<h1 class="section-title">@ViewBag.Title</h1>
	</header>
	<div class="section-content col">
		<p>Lafayette Testing Services, recognizes the concerns of visitors to our corporate Website as to our collection and use of private information provided to us. This Privacy Statement addresses such concerns. This Privacy Statement may be updated from time to time without prior notice, so please check back occasionally.</p>
		<p>Access to our Web site does not require disclosure of personal information. However, there are some sections of our site that allow visitors access to certain company-specific information and materials. Lafayette Testing Services asks that visitors to these sections of the site voluntarily and knowingly fill out a registration form before viewing or downloading information from this section. The registration form requires you to provide us with personal information, such as your address, telephone number, e-mail address, and the like.</p>
		<p>Any personal information collected by Lafayette Testing Services on this Website is collected to allow us to tailor our Website to better meet our visitors needs. For instance, we may on a one time basis, use this information for the purpose of providing additional product information and/or services for the products and services that you inquired about. Lafayette Testing Services will never sell, share, or give your personal information to any third party outside of Lafayette Testing Services.</p>
		<h2>Cookies</h2>
		<p>Like many companies, we sometimes use cookie technology on our Web site to obtain non-personal information from online visitors. A cookie is a small text file that a Web site can place on your computer's hard drive in order, for example, to collect information about your activities on the site or to determine whether you are a new or repeat visitor to the site. The cookie transmits this information back to the Web site&#8217;s computer, which generally speaking, is the only computer that can read it. The cookie does not obtain any personal information about you or provide any way to contact you. Most consumers do not know that cookies are being placed on their computer when they visit Web sites. If you want to know when this happens, or to prevent it from happening, you can set your browser to warn you when a Web site attempts to place a cookie on your computer. You can also set your browser to reject cookies. You will still be able to visit our Web site after setting your browser to reject cookies, but your browsing capabilities may be somewhat affected.</p>
		<h2>Children</h2>
		<p>Lafayette Testing Services does not knowingly or intentionally collect personal information from children under 13 years of age. Lafayette Testing Services will not retain any communication we receive that is identified as being from a child under 13 years of age. If you are under the age of 13 and would like to register at this Web site, please ask a parent or guardian for assistance.</p>
		<h2>Usage Agreement</h2>
		<p>We also ask that you review the terms of our @Html.ActionLink("Usage Agreement", "usageagreement", "Home").</p>
		<h2>Questions or Comments</h2>
		<p itemscope itemtype="http://schema.org/LocalBusiness">Please contact Lafayette Testing Services via e-mail at <a href="mailto:customerservice@lafayettetesting.com?Subject=Privacy%20Statement%20Inquiry">customerservice@lafayettetesting.com</a> or telephone at <a class="tel" itemprop="telephone" href="tel:4149615128">1-800-337-4884</a> with questions or comments regarding this Privacy Statement. You may also write us at:<br />
			<span itemprop="name">Lafayette Testing Services</span><br />
			<span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
				<span itemprop="streetAddress">3710 North Richards Street</span><br />
				<span itemprop="addressLocality">Milwaukee</span>, <span itemprop="addressRegion">WI</span> <span itemprop="postalCode">53212</span><br />
			</span>
		</p> 
	</div>
</section>