<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" from="no-reply@lafayettetesting.com" xdt:Transform="Replace">
                <network host="mail.lafayettetesting.com" port="25" userName="website@lafayettetesting.com" password="yvud5C33CY~%" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
