<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
    </system.web>
    <system.net>
        <mailSettings>
            <smtp deliveryMethod="Network" xdt:Transform="Replace">
                <network host="localhost" userName="website@lafayettetesting.com.foxglove.arvixe.com" password="9jP8pvqUKTx6aupY" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration>