@{
	ViewBag.Title = "CNC Precision Machining";
	ViewBag.Description = "";
	ViewBag.BodyClass = "cnc-precision-machining";
}

<section class="section row">
	<div id="primary">
		<div class="section-content col sm-1">&#160;</div>
		<div class="section-content col sm-9">
			<nav class="breadcrumb" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
				<h6 class="assistive-text">Breadcrumb navigation</h6>
				<ol>
					<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
					<li><span itemprop="title">@ViewBag.Title</span></li>
				</ol>
			</nav>
			<header class="section-header">
				<h1 class="section-title">@ViewBag.Title</h1>
			</header>
			<div class="section-content">
				<div class="tabs-horizontal">
					<ul class="resp-tabs-list">
						<li>Vertical Machining Center</li>
						<li>Turning Center</li>
						<li>Image Gallery</li>
					</ul> 
					<div class="resp-tabs-container">                                                        
						<div>
							<dl>
								<dt>Fadal 4020A</dt>
								<dd>Table size 48&#8243;x20&#8243;</dd>
								<dd>X-axis travel 40&#8243;</dd>
								<dd>Y-axis travel 20&#8243;</dd>
								<dd>Z-axis travel 28&#8243;</dd>
								<dd>Rigid Tapping</dd>
							</dl>
							<dl>
								<dt>Kitamura Mycenter MI/485</dt>
								<dd>Pallet size 11.8&#8243;x19.7&#8243;</dd>
								<dd>Maximum table bed 176#</dd>
								<dd>X-axis travel 19&#8243;</dd>
								<dd>Y-axis travel 1&#8243;</dd>
								<dd>Z-axis travel 16&#8243;</dd>
								<dd>Rigid Tapping</dd>
								<dd>Maximum spindle speed 10,000 RPM</dd>
								<dd>16 station tool changes</dd>
							</dl>
							<dl>
								<dt>Bridgeport Series I</dt>
								<dd>2 HP</dd>
								<dd>X-axis 36&#8243;</dd>
								<dd>Y-axis 12&#8243;</dd>
								<dd>Z-axis Travel Max 18.75&#8243;</dd>
							</dl>
						</div>
						<div>
							<dl>
								<dt>Kia SKT - 25</dt>
								<dd>Maximum turning diameter 19.7&#8243;</dd>
								<dd>Maximum swing 24.4&#8243;</dd>
								<dd>10&#8243; and 12&#8243; chuck size</dd>
								<dd>2-axis 29.5&#8243;</dd>
								<dd>Distance between center 28.3&quot;</dd>
								<dd>3&#8243; Bar Capacity</dd>
								<dd>Spindle Hole Size 3.54&#8243;</dd>
							</dl>
						</div>
						<div>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0049.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0049.jpg" alt="DSC_0049" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0055.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0055.jpg" alt="DSC_0055" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0057.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0057.jpg" alt="DSC_0057" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0062.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0062.jpg" alt="DSC_0062" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0111.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0111.jpg" alt="DSC_0111" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0122.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0122.jpg" alt="DSC_0122" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0124.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0124.jpg" alt="DSC_0124" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0129.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0129.jpg" alt="DSC_0129" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0132.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0132.jpg" alt="DSC_0132" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0134.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0134.jpg" alt="DSC_0134" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0136.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0136.jpg" alt="DSC_0136" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0138.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0138.jpg" alt="DSC_0138" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0139.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0139.jpg" alt="DSC_0139" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/DSC_0146.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/DSC_0146.jpg" alt="DSC_0146" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col sm-2 accent last">
			<img src="~/Content/images/right-rail-cnc-machining.jpg" alt="CNC machine milling a part from steel." />
		</div>
	</div>
</section>