@{
    ViewBag.Title = "Digital Radiography Testing";
	ViewBag.Description = "";
	ViewBag.BodyClass = "digital-radiography-testing";
}

<section class="section row">
	<div id="primary">
		<nav class="breadcrumb col lg-12" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
			<h1 class="assistive-text">Breadcrumb navigation</h1>
			<ol>
				<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
				<li><span itemprop="title">@ViewBag.Title</span></li>
			</ol>
		</nav>
		<header class="section-header col">
			<h1 class="section-title">@ViewBag.Title</h1>
		</header>
		<div class="section-content col lg-10">
			<div class="tabs-horizontal">
				<ul class="resp-tabs-list">
					<li>Overview</li>
					<li>Image Gallery</li>
				</ul> 
				<div class="resp-tabs-container">                                                        
					<div>
						<img src="~/Content/images/high-energy-x-ray-testing-logo.gif" class="branding-services" alt="Logo for @ViewBag.Title" />
						<p>High Technology Filmless Radiography is a service that Lafayette Testing can provide. Digital Radiography services are used for high production projects which requires fast turnaround, computed radiography images, and quality defined images that can be stored on disk or e-mailed to the costumer. Fuji NDT Computed Radiography System is the best technology available, our system, Fuji NDT DynamIX Series 4 Reader/Erasure Unit, DynamIX View Work Station with Image Processing Software, and Image Phosphor Plates creates an end result image that is outstanding in quality, second to none.</p>
					</div>
					<div>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_001.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_001.jpg" alt="P1010034" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_009.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_009.jpg" alt="P1010041" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_013.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_013.jpg" alt="P1010042" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_015.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_015.jpg" alt="P1010044" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_016.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_016.jpg" alt="P1010045" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_018.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_018.jpg" alt="P1010046" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_024.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_024.jpg" alt="P1010049" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col lg-2 accent">
			<img src="~/Content/images/right-rail-digital-radiography-testing.jpg" alt="" />
		</div>
	</div>
</section>