@{
	ViewBag.Title = "High Energy X-Ray Testing";
	ViewBag.Description = "";
	ViewBag.BodyClass = "high-energy-x-ray-testing";
}

<section class="section row">
	<div id="primary">
		<div class="section-content col sm-1">&#160;</div>
		<div class="section-content col sm-8">
			<nav class="breadcrumb" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
				<h6 class="assistive-text">Breadcrumb navigation</h6>
				<ol>
					<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
					<li><span itemprop="title">@ViewBag.Title</span></li>
				</ol>
			</nav>
			<header class="section-header">
				<h1 class="section-title">@ViewBag.Title</h1>
			</header>
			<div class="section-content">
				<div class="tabs-horizontal">
					<ul class="resp-tabs-list">
						<li>Overview</li>
						<li>Image Gallery</li>
					</ul> 
					<div class="resp-tabs-container">                                                        
						<div>
							<img src="~/Content/images/@ViewBag.BodyClass-logo.gif" class="branding-services" alt="Logo for @ViewBag.Title" />
							<p>With our new Varian Clinac 6 Million Electron Volt Linear Accelerator, LTS can radiograph material thicknesses of 3&#8243; to 12&#8243; of steel producing Sharp 2T Quality images. This 6 MeV Unit has a head unit with motorized tilt and motorized mounting frame allowing the technician to manipulate the Linear Accelerator in any direction which means less handling of your part which in turn produces fast turnaround times. Our new Water Chiller Model 200R Circulating Closed Loop Coolant Cooler allows us to provide High Energy Radiography 24 hours a day 7 days a week.</p>
						</div>
						<div>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_039.jpg" title="LTS050207_039"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_039.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_044.jpg" title="LTS050207_044"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_044.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_049.jpg" title="LTS050207_049"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_049.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_052.jpg" title="LTS050207_052"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_052.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_055.jpg" title="LTS050207_055"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_055.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_059.jpg" title="LTS050207_059"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_059.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_060.jpg" title="LTS050207_060"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_060.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_065.jpg" title="LTS050207_065"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_065.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_069.jpg" title="LTS050207_069"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_069.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_072.jpg" title="LTS050207_072"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_072.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_074.jpg" title="LTS050207_074"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_074.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_079.jpg" title="LTS050207_079"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_079.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_086.jpg" title="LTS050207_086"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_086.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_090.jpg" title="LTS050207_090"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_090.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_095.jpg" title="LTS050207_095"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_095.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_100.jpg" title="LTS050207_100"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_100.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_123.jpg" title="LTS050207_123"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_123.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_118.jpg" title="LTS050207_118"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_118.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col sm-3 accent last">
			<img src="~/Content/images/right-rail-high-energy-x-ray-testing.jpg" alt="" />	
		</div>
	</div>
</section>