@{
	ViewBag.Title = "High Energy X-Ray Testing";
	ViewBag.Description = "";
	ViewBag.BodyClass = "high-energy-x-ray-testing";
}

<section class="section row">
	<div id="primary">
		<div class="section-content col sm-1">&#160;</div>
		<div class="section-content col sm-8">
			<nav class="breadcrumb" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
				<h6 class="assistive-text">Breadcrumb navigation</h6>
				<ol>
					<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
					<li><span itemprop="title">@ViewBag.Title</span></li>
				</ol>
			</nav>
			<header class="section-header">
				<h1 class="section-title">@ViewBag.Title</h1>
			</header>
			<div class="section-content">
				<div class="tabs-horizontal">
					<ul class="resp-tabs-list">
						<li>Overview</li>
						<li>Image Gallery</li>
					</ul> 
					<div class="resp-tabs-container">                                                        
						<div>
							<img src="~/Content/images/@ViewBag.BodyClass-logo.gif" class="branding-services" alt="Logo for @ViewBag.Title" />
							<p>With our new Varian Clinac 6 Million Electron Volt Linear Accelerator, LTS can radiograph material thicknesses of 3&#8243; to 12&#8243; of steel producing Sharp 2T Quality images. This 6 MeV Unit has a head unit with motorized tilt and motorized mounting frame allowing the technician to manipulate the Linear Accelerator in any direction which means less handling of your part which in turn produces fast turnaround times. Our new Water Chiller Model 200R Circulating Closed Loop Coolant Cooler allows us to provide High Energy Radiography 24 hours a day 7 days a week.</p>
						</div>
						<div>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_039.jpg" title="Control console for 6 MeV linear accelerator."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_039.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_049.jpg" title="Control console for 6 MeV linear accelerator."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_049.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_052.jpg" title="Vault One 6 MeV linear accelerator."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_052.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_055.jpg" title="Source to film distance verification, Vault One 6 MeV linear accelerator."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_055.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_059.jpg" title="Shot set-up, Vault One 6 MeV linear accelerator."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_059.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_074.jpg" title="Aperture opening for 6 MeV linear accelerator."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_074.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_079.jpg" title="6 MeV cooling lines."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_079.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_302.jpg" title="IR-192 source with panoramic shot set-up."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_302.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_100.jpg" title="Film placement during shot set-up, Vault One 6 MeV linear accelerator."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_100.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS050207_123.jpg" title="Film interpretation."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS050207_123.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col sm-3 accent last">
			<img src="~/Content/images/right-rail-high-energy-x-ray-testing.jpg" alt="" />	
		</div>
	</div>
</section>