@{
    ViewBag.Title = "Liquid Penetrant Testing";
	ViewBag.Description = "";
	ViewBag.BodyClass = "liquid-penetrant-testing";
}

<section class="section row">
	<div id="primary">
		<nav class="breadcrumb col lg-12" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
			<h1 class="assistive-text">Breadcrumb navigation</h1>
			<ol>
				<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
				<li><span itemprop="title">@ViewBag.Title</span></li>
			</ol>
		</nav>
		<header class="section-header col">
			<h1 class="section-title">@ViewBag.Title (PT)</h1>
		</header>
		<div class="section-content col lg-10">
			<div class="tabs-horizontal">
				<ul class="resp-tabs-list">
					<li>Overview</li>
					<li>Image Gallery</li>
				</ul> 
				<div class="resp-tabs-container">                                                        
					<div>
						<img src="~/Content/images/@ViewBag.BodyClass-logo.gif" class="branding-services" alt="Logo for @ViewBag.Title" />
						<p>Liquid Penetrant Testing (PT) is a Nondestructive Testing method for finding discontinuities that are open to the surface. Indications or flaws can be found regardless of size, configuration, internal structure, or chemical composition of the material being inspected. On materials having nonporous qualities, ferrous and nonferrous, liquid penetrant can seep into various types of surface openings by capillary action. Because of this, the procedure is well suited for the detection of all types of surface cracks, laps, porosity, shrinkage areas, laminations, and similar discontinuities. All Lafayette Testing Certified Examiners performing NDT examinations are qualified in accordance with ASNT recommended practice SNT-TC-1A. All personnel routinely attend refresher classes for recertification to assure that our inspection operations meet all commercial, industrial, and aerospace methods, standards and specifications.</p>
						<p>Our Laboratory has both floor space and equipment capability to handle small or large castings, in either one or two piece lots to large production volumes.</p>
					</div>
					<div>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_047.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_047.jpg" alt="LTS081706_047" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_050.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_050.jpg" alt="LTS081706_050" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_053.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_053.jpg" alt="LTS081706_053" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_061.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_061.jpg" alt="LTS081706_061" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_088.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_088.jpg" alt="LTS081706_088" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_092.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_092.jpg" alt="LTS081706_092" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_099.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_099.jpg" alt="LTS081706_099" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_100.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_100.jpg" alt="LTS081706_100" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_106.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_106.jpg" alt="LTS081706_106" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_111.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_111.jpg" alt="LTS081706_111" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_112.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_112.jpg" alt="LTS081706_112" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_115.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_115.jpg" alt="LTS081706_115" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col lg-2 accent">
			<img src="~/Content/images/right-rail-liquid-penetrant-testing.jpg" alt="Parts being removed from bath during a Liquid Penetrant Test." />
		</div>
	</div>
</section>