@{
    ViewBag.Title = "Low Energy X-Ray Testing";
	ViewBag.Description = "";
	ViewBag.BodyClass = "low-energy-x-ray-testing";
}

<section class="section row">
	<div id="primary">
		<div class="section-content col sm-1">&#160;</div>
		<div class="section-content col sm-8">
			<nav class="breadcrumb" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
				<h6 class="assistive-text">Breadcrumb navigation</h6>
				<ol>
					<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
					<li><span itemprop="title">@ViewBag.Title</span></li>
				</ol>
			</nav>
			<header class="section-header">
				<h1 class="section-title">@ViewBag.Title</h1>
			</header>
			<div class="section-content">
				<div class="tabs-horizontal">
					<ul class="resp-tabs-list">
						<li>Overview</li>
						<li>Image Gallery</li>
					</ul> 
					<div class="resp-tabs-container">                                                        
						<div>
							<img src="~/Content/images/@ViewBag.BodyClass-logo.gif" class="branding-services" alt="Logo for @ViewBag.Title" />
							<p>Lafayette Testing Services, Inc. (LTS) provides industrial radiographic services for a growing number of industries. When utilizing X-Radiation and/or gamma isotopes, LTS can test most materials, provide a permanent visual image record of the test specimen on film, reveal the internal nature of the material, and reveal structural discontinuities and fabrication errors. The majority of our radiographic inspections are applied to steel and aluminum cast-related projects where a need or a requirement exists to monitor the integrity of the castings.</p>
							<p>LTS offers a wide variety of x-ray service capabilities for inspection of any size component. With our large drive in vaults and diverse capacity, we can provide expedient service on high production requirements.</p>
							<p>LTS compliments its low energy radiography by providing fast, sharp, precise radiographs of section thickness up to 12 inches of steel or equivalent.</p>
							<p>X-Ray Radiography &#45; with energy ranges from 100 Curies of IR-192 and CO-60 sources, 160 KeV to 6 MeV Linatron capacity for producing high quality radiographs.</p>
						</div>
						<div>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_247.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_247.jpg" alt="P1010034" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_256.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_256.jpg" alt="P1010041" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_270.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_270.jpg" alt="P1010042" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_277.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_277.jpg" alt="P1010044" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_301.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_301.jpg" alt="P1010045" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_302.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_302.jpg" alt="P1010046" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_320.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_320.jpg" alt="P1010049" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_316.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_316.jpg" alt="P1010051" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_331.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_331.jpg" alt="P1010055" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_338.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_338.jpg" alt="P1010056" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_265.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_265.jpg" alt="P1010058" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2573.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2573.jpg" alt="P1010059" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col sm-3 accent last">
			<img src="~/Content/images/right-rail-low-energy-x-ray-testing.jpg" alt="" />
		</div>
	</div>
</section>