@{
    ViewBag.Title = "Magnetic Particle Testing";
	ViewBag.Description = "";
	ViewBag.BodyClass = "magnetic-particle-testing";
}

<section class="section row">
	<div id="primary">
		<nav class="breadcrumb col lg-12" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
			<h1 class="assistive-text">Breadcrumb navigation</h1>
			<ol>
				<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
				<li><span itemprop="title">@ViewBag.Title</span></li>
			</ol>
		</nav>
		<header class="section-header col">
			<h1 class="section-title">@ViewBag.Title (MT)</h1>
		</header>
		<div class="section-content col lg-10">
			<div class="tabs-horizontal">
				<ul class="resp-tabs-list">
					<li>Overview</li>
					<li>Image Gallery</li>
				</ul> 
				<div class="resp-tabs-container">                                                        
					<div>
						<img src="~/Content/images/@ViewBag.BodyClass-logo.gif" class="branding-services" alt="Logo for @ViewBag.Title" />
						<p>Magnetic Particle Testing (MT) is a method for locating discontinuities at or near the surface in ferromagnetic materials. Because magnetization of certain metals is possible, small particles that are attracted to magnetic fields are applied to the surface of the test material after or during induction of a magnetic field. The collection of these small particles at the leakage fields will form an outline of the discontinuity which generally indicates its location, size, shape, and extent.</p>
						<p>LTS utilizes the Magnetic Particle Method in many industrial applications where potential problems can occure in ferromagnetic materials. Ferromagnetic materials include most of the iron, nickel, and cobalt alloys. Magnetic Particle testing can be applied to finished articles, bars, castings, and forgings. This technique is also commonly used to locate cracking in welded joints, structural members, shafts, and bolts.</p>
						<p>As shown in our photo, one variation of the technique known as Wet Fluorescent Magnetic Particle testing, uses iron particles treated with a fluorescent dye and suspended in liquid to inspect critical areas. An ultraviolet light is used to examine the test area after the application of the particles in order to detect fine, linear discontinuities.</p>
						<p>We guarantee an extensive inspection, fast turnaround time, and reasonable cost for this type and all LTS types of testing methods. Our inspectors are carefully trained, tested, and certified to perform Magnetic Particle inspections on numerous applications our clients require.</p>
					</div>
					<div>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2530.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2530.jpg" alt="IMG_2530" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2538.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2538.jpg" alt="IMG_2538" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2548.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2548.jpg" alt="IMG_2548" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2555.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2555.jpg" alt="IMG_2555" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2559.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2559.jpg" alt="IMG_2559" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2582.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2582.jpg" alt="IMG_2582" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2586.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2586.jpg" alt="IMG_2586" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2588.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2588.jpg" alt="IMG_2588" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2644.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2644.jpg" alt="IMG_2644" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/IMG_2647.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/IMG_2647.jpg" alt="IMG_2647" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_136.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_136.jpg" alt="LTS081706_136" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_142.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_142.jpg" alt="LTS081706_142" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_147.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_147.jpg" alt="LTS081706_147" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_156.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_156.jpg" alt="LTS081706_156" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col lg-2 accent">
			<img src="~/Content/images/right-rail-magnetic-particle-testing.jpg" alt="Manufactured part displaying a linear discontinuity during a Magnetic Particle Test." />
		</div>
	</div>
</section>