@{
    ViewBag.Title = "Ultrasonics Testing";
	ViewBag.Description = "";
	ViewBag.BodyClass = "ultrasonics-testing";
}

<section class="section row">
	<div id="primary">
		<nav class="breadcrumb col lg-12" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
			<h1 class="assistive-text">Breadcrumb navigation</h1>
			<ol>
				<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
				<li><span itemprop="title">@ViewBag.Title</span></li>
			</ol>
		</nav>
		<header class="section-header col">
			<h1 class="section-title">@ViewBag.Title</h1>
		</header>
		<div class="section-content col lg-10">
			<div class="tabs-horizontal">
				<ul class="resp-tabs-list">
					<li>Overview</li>
					<li>Image Gallery</li>
				</ul> 
				<div class="resp-tabs-container">                                                        
					<div>
						<img src="~/Content/images/@ViewBag.BodyClass-logo.gif" class="branding-services" alt="Logo for @ViewBag.Title" />
						<p>Ultrasonics has become of great importance in recent years; its unique properties have been applied to the casting industry, medicine, automotive, and many other fields. It is used to test a variety of metallic and nonmetallic products such as welds, forgings, castings, sheet, tubing, plastics, and ceramics. Ultrasonic is a Nondestructive testing method in which beams of high frequency sound waves are introduced into the material being inspected and are used to detect internal and surface flaws, to define bond characteristics, and to measure thickness and extent of corrosion. Techniques of ultrasonic testing are accomplished with one of two methods: contact and immersion testing. Both inspection methods can be performed in our laboratory setting.</p>
						<p>For predictive maintenance requirements, LTS frequently performs ultrasonic surveys on tanks, piping, pressure vessel systems, and castings to determine existing wall thickness. Also, the shear wave (angle beam) technique is used for validation purposes on weldments, solid shafts, and other materials.</p>
						<p>LTS provides state-of-the-art ultrasonic services that conform to the latest applicable specifications and inspection techniques.</p>
					</div>
					<div>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010034.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010034.jpg" alt="P1010034" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010041.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010041.jpg" alt="P1010041" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010042.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010042.jpg" alt="P1010042" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010044.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010044.jpg" alt="P1010044" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010045.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010045.jpg" alt="P1010045" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010046.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010046.jpg" alt="P1010046" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010049.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010049.jpg" alt="P1010049" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010051.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010051.jpg" alt="P1010051" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010055.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010055.jpg" alt="P1010055" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010056.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010056.jpg" alt="P1010056" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010058.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010058.jpg" alt="P1010058" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/P1010059.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/P1010059.jpg" alt="P1010059" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col lg-2 accent">
			<img src="~/Content/images/right-rail-ultrasonics-testing.jpg" alt="Device displaying Ultrasonics Testing results." />
		</div>
	</div>
</section>