@{
	ViewBag.Title = "Value Added Services";
	ViewBag.Description = "";
	ViewBag.BodyClass = "value-added-services";
}

<section class="section row">
	<div id="primary">
		<nav class="breadcrumb col lg-12" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
			<h6 class="assistive-text">Breadcrumb navigation</h6>
			<ol>
				<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
				<li><span itemprop="title">@ViewBag.Title</span></li>
			</ol>
		</nav>
		<header class="section-header col">
			<h1 class="section-title">@ViewBag.Title</h1>
		</header>
		<div class="section-content col lg-10">
			<div class="tabs-horizontal">
				<ul class="resp-tabs-list">
					<li>Overview</li>
					<li>Image Gallery</li>
				</ul> 
				<div class="resp-tabs-container">                                                        
					<div>
						<img src="~/Content/images/@ViewBag.BodyClass-logo.gif" class="branding-services" alt="Logo for @ViewBag.Title" />
						<p>Since our start in 1992, we have continued to diversify and expand our laboratory proccesses and capabilities such as our value added services; Sandblasting, Welding, and Mechanical Polishing. With these complimetary services we are able to work with our customers to determine their requirements and design our services to meet their specific needs to help ensure lower overall production costs, less lead-times, superior quality control, and exceptional turnaround times for our customers.</p>
						<p>Many products being inspected utilizing Nondestructive Testing methods also require specific processes after inspections have been completed. LTS can help reduce transportation costs and lead-times by providing these extended services at our laboratory.</p>
					</div>
					<div>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_166.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_166.jpg" alt="LTS081706_166" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_170.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_170.jpg" alt="LTS081706_170" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_184.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_184.jpg" alt="LTS081706_184" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_186.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_186.jpg" alt="LTS081706_186" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_190.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_190.jpg" alt="LTS081706_190" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_195.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_195.jpg" alt="LTS081706_195" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_192.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_192.jpg" alt="LTS081706_192" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_196.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_196.jpg" alt="LTS081706_196" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_198.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_198.jpg" alt="LTS081706_198" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_200.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_200.jpg" alt="LTS081706_200" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_204.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_204.jpg" alt="LTS081706_204" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_210.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_210.jpg" alt="LTS081706_210" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_211.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_211.jpg" alt="LTS081706_211" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_213.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_213.jpg" alt="LTS081706_213" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_215.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_215.jpg" alt="LTS081706_215" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_216.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_216.jpg" alt="LTS081706_216" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_221.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_221.jpg" alt="LTS081706_221" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_223.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_223.jpg" alt="LTS081706_223" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_225.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_225.jpg" alt="LTS081706_225" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_230.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_230.jpg" alt="LTS081706_230" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_369.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_369.jpg" alt="LTS081706_369" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_370.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_370.jpg" alt="LTS081706_370" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_376.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_376.jpg" alt="LTS081706_376" /></a>
						<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_437.jpg"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_437.jpg" alt="LTS081706_437" /></a>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col lg-2 accent">
			<img src="~/Content/images/right-rail-value-added-services.jpg" alt="Lafayette Testing Services team member grinding a new weld smooth." />
		</div>
	</div>
</section>