@{
	ViewBag.Title = "Value Added Services";
	ViewBag.Description = "";
	ViewBag.BodyClass = "value-added-services";
}

<section class="section row">
	<div id="primary">
		<div class="section-content col sm-1">&#160;</div>
		<div class="section-content col sm-8">
			<nav class="breadcrumb" itemtype="http://data-vocabulary.org/Breadcrumb" itemscope="">
				<h6 class="assistive-text">Breadcrumb navigation</h6>
				<ol>
					<li><a itemprop="url" href="/"><span itemprop="title">Home</span></a></li>
					<li><span itemprop="title">@ViewBag.Title</span></li>
				</ol>
			</nav>
			<header class="section-header">
				<h1 class="section-title">@ViewBag.Title:</h1>
				<h2>Welding, Mechanical Polishing, Parts Washing and Sandblasting</h2>
			</header>
			<div class="section-content">
				<div class="tabs-horizontal">
					<ul class="resp-tabs-list">
						<li>Overview</li>
						<li>Image Gallery</li>
					</ul> 
					<div class="resp-tabs-container">                                                        
						<div>
							<img src="~/Content/images/@ViewBag.BodyClass-logo.gif" class="branding-services" alt="Logo for @ViewBag.Title" />
							<p>Since our start in 1992, we have continued to diversify and expand our laboratory proccesses and capabilities such as our value added services; Sandblasting, Welding, and Mechanical Polishing. With these complimetary services we are able to work with our customers to determine their requirements and design our services to meet their specific needs to help ensure lower overall production costs, less lead-times, superior quality control, and exceptional turnaround times for our customers.</p>
							<p>Many products being inspected utilizing Nondestructive Testing methods also require specific processes after inspections have been completed. LTS can help reduce transportation costs and lead-times by providing these extended services at our laboratory.</p>
						</div>
						<div>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_166.jpg" title="Grinding for weld preparation."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_166.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_170.jpg" title="Grinding the weld flush."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_170.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_195.jpg" title="TIG (Tungsten Inert Gas) welding process."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_195.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_192.jpg" title="TIG (Tungsten Inert Gas) welding process."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_192.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_184.jpg" title="Beginning step for mechanical polishing."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_184.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_186.jpg" title="Mechanical polishing."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_186.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_190.jpg" title="Mechanical polishing."><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_190.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_221.jpg" title="Sandblasting"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_221.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_223.jpg" title="Sandblasting"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_223.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_225.jpg" title="Sandblasting"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_225.jpg" alt="" /></a>
							<a class="fancybox" rel="gallery1" href="~/Content/images/@ViewBag.BodyClass/images/LTS081706_230.jpg" title="Sandblasting"><img src="~/Content/images/@ViewBag.BodyClass/thumbnails/LTS081706_230.jpg" alt="" /></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="section-content col sm-3 accent last">
			<img src="~/Content/images/right-rail-value-added-services.jpg" alt="Lafayette Testing Services team member grinding a new weld smooth." />
		</div>
	</div>
</section>