// breadcrumb

.breadcrumb {
	margin: -1em 0 1em 0;
	font-size: .8em;
	
	li { display: inline; }

	li + li:before {
		content: "\003E\00a0";
		padding: 0 .25em;
	}

	@media print {
		display: none;
	}
}

// containers

#primary,
#secondary,
#tertiary {
	padding-top: 2em;
}

.accent {
	top: -6.5em;
	padding: 0;
	min-height: 900px;
	background-color: #224998;
	text-align: right;
}

.contact .accent {
	min-height: 1000px;
}

.cnc-precision-machining .accent {
	min-height: 1100px;
}

.value-added-services .accent {
	min-height: 1300px;
}

footer {
	position: relative;
	top: -6.5em;
}

// home

#positioning-statement {
	height: 150px;
	padding: 2em;
	background: rgb(2,29,84); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjMDIxZDU0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTMlIiBzdG9wLWNvbG9yPSIjMjc1MWEzIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzI3NTFhMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(-45deg, rgba(2,29,84,1) 0%, rgba(39,81,163,1) 53%, rgba(39,81,163,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(2,29,84,1)), color-stop(53%,rgba(39,81,163,1)), color-stop(100%,rgba(39,81,163,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(2,29,84,1) 0%,rgba(39,81,163,1) 53%,rgba(39,81,163,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(2,29,84,1) 0%,rgba(39,81,163,1) 53%,rgba(39,81,163,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(2,29,84,1) 0%,rgba(39,81,163,1) 53%,rgba(39,81,163,1) 100%); /* IE10+ */
	background: linear-gradient(135deg, rgba(2,29,84,1) 0%,rgba(39,81,163,1) 53%,rgba(39,81,163,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#021d54', endColorstr='#2751a3',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	text-transform: uppercase;
	color: #FFF;

	h1 {
		margin: 0;
		line-height: 0.9;

		.line-1 {
			font-size: 58px;
		}

		.line-2 {
			display: block;
			width: 260px;
			padding: 0 0 8px 40px;
			font-size: 18px;
			border: solid 1px #FFF;
			border-width: 0 1px 0 0;
		}

		.line-3 {
			position: relative;
			top: -20px;
			margin: -6px 0 0 260px;
			padding: 0 0 0 .4em;
			font-size: 30px;

			li {
				display: none;
			}
		}
	}
}

.home {
	#primary,
	#secondary,
	#tertiary {
		height: 760px;
		padding: 1.5em;

		h1,
		h2 { text-transform: uppercase; }

	}

	#primary {
		background-color: #AFAFAF;
	}

	#secondary,
	#tertiary {
		background-color: #E3E2E2;
	}

	#secondary {
		border: solid 1px #FFF;
		border-width: 0 1px;
	}

	footer {
		top: 0;
	}
}

#random-banner {
	position: absolute;
	top: -36px;
	right: 0;
}

#random-caption {
	position: absolute;
	top: 150px;
	right: 30px;
	font-size: .9em;
}

// about

#lts-leadership {
	float: left;
	width: 280px;
	margin: 0 30px 0 0;

	.caption {
		font-size: 85%;
	}
}

// services

.branding-services {
	float: left;
	margin: 0 1em 0 0;
}

// contact us

.contact form {
	margin: 3em 0 0 0;
}

.btn {
	background: rgb(41,104,181); /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5NjhiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNDI3NjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(41,104,181,1) 0%, rgba(4,39,96,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,104,181,1)), color-stop(100%,rgba(4,39,96,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(41,104,181,1) 0%,rgba(4,39,96,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(41,104,181,1) 0%,rgba(4,39,96,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(41,104,181,1) 0%,rgba(4,39,96,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(41,104,181,1) 0%,rgba(4,39,96,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2968b5', endColorstr='#042760',GradientType=0 ); /* IE6-8 */
	font-weight: bold;
	color: #FFF;

	&:hover {
		background: rgb(4,39,96); /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIyJSIgc3RvcC1jb2xvcj0iIzA0Mjc2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyOTY4YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  rgba(4,39,96,1) 2%, rgba(41,104,181,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(2%,rgba(4,39,96,1)), color-stop(100%,rgba(41,104,181,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(4,39,96,1) 2%,rgba(41,104,181,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(4,39,96,1) 2%,rgba(41,104,181,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(4,39,96,1) 2%,rgba(41,104,181,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(4,39,96,1) 2%,rgba(41,104,181,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#042760', endColorstr='#2968b5',GradientType=0 ); /* IE6-8 */
	}

}

.contact footer,
.site-map footer,
.usage-agreement footer,
.privacy-statement footer {
	top: 0;
}