html { cursor: default; }

ol, ul, p { margin: 0 0 1em; }

li { margin: 0 0 .25em; }

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	font-weight: inherit;
	margin: 0 0 .25em;
}

nav ul,
nav ol,
.reduced {
	margin-bottom: 0;
	padding-left: 0;
	list-style: none;
}

img { max-width: 100%; }

small { font-size: .9em; }

.align-left { text-align: left; }

.align-right { text-align: right; }

.align-center { text-align: center; }

.right { float: right; }

.left { float: left; }

.assistive-text {
	position: absolute;
	clip: rect(1px 1px 1px 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.inline-nav li { display: inline; }

.inline-nav li + li {
	border-left: 1px solid #666;
	margin-left: .5em;
	padding-left: .75em;
}

.clear { clear: both; }

.clear-left { clear: left; }

.clear-right { clear: right; }

.no-touch a[href^="tel:"] {
	text-decoration: none;
	color: inherit;
	cursor: inherit;

	&:hover { color: inherit; }
}

address { font-style: normal; }

.uppercase { text-transform: uppercase; }