#site-header { 
	
}

#site-title {
	margin: 0;
	padding: 0;
	font-size: 122%; 
	font-weight: bold; 
	text-transform: uppercase;
}

#site-title span {
	position: absolute;
	top: 25px;
	margin: 0 0 0 10px;
	width: 300px;
	color: #001B51;
}

#site-nav {
	
}

.nav {
	text-transform: uppercase;
	font-weight: bold;
	background-color: #001c52 !important;
}

#nav-toggle {
	padding: 4px 0;
	margin: 0 10px 0 0;

	.icon-bar {
		display: block;
		height: 3px;
		width: 25px;
		background-color: #333;
		margin: 4px 8px;
		box-shadow: 0 1px 0 rgba(0,0,0,.15);
	}

	@media print {
		display: none;
	}
}

#flyout-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 258px;
}

/*
@media only screen and (min-width: 768px) {

	#site-nav { display: block !important; }

}


@media only screen and (max-width: 767px) {

	#site-nav.collapsed { display: none; }
	
}
*/