#site-title {
	padding: .25em 0 0 .25em;
	font-size: 122%; 
	font-weight: bold; 
	text-transform: uppercase;
}

#site-title span {
	position: absolute;
	top: 1.5em;
	margin: 0 0 0 10px;
	color: #001B51;
}

.tel.primary {
	padding: .5em 1.4em 0 0;
	margin: 0;
	text-align: right;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 140%;
	color: #FFF;
}

#site-nav .col {
	padding: 0;
}

#site-nav .sm-7 {
	background-color: #001c52;
}

#nav-toggle {
	padding: 4px 0;
	margin: 0 10px 0 0;

	.icon-bar {
		display: block;
		height: 3px;
		width: 25px;
		background-color: #333;
		margin: 4px 8px;
		box-shadow: 0 1px 0 rgba(0,0,0,.15);
	}

	@media print {
		display: none;
	}
}

#flyout-nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 258px;
	border: solid 1px yellow;
}

/*
@media only screen and (min-width: 768px) {
	#site-nav { display: block !important; }
}
@media only screen and (max-width: 767px) {
	#site-nav.collapsed { display: none; }
	
}
*/