@page { margin: 1cm; }

* {
	background: transparent !important;
	color: #000 !important;
	text-shadow: none !important;
}

nav,
form,
.resp-tabs-list,
.accent { display: none !important; }

.print,
#site-header h2 { display: inherit !important; }

a {
	color: #00e !important;
	text-decoration: underline;
}

pre,
blockquote,
img { page-break-inside: avoid; }

#content {
	min-height: 1000px !important;

	.lg-10 {
		width: 100%;
	}
}

#footer {
	clear: both;
}