//== brand colors

$brand-primary: #2c83da !default;
$brand-secondary: #5bc0de !default;
$brand-success: #090 !default;
$brand-warning: #f0ad4e !default;
$brand-danger: #c00 !default;


//== scaffolding

$body-bg: #4a4a5a !default;
$color-base: #555 !default;

$link-color: $brand-primary !default;
$link-hover-color: darken($link-color, 15%) !default;

$container-bg: #fff !default;
$container-max-width: 100% !default;

//== typography

$font-family-sans-serif: 'Helvetica Neue', Helvetica, Arial, sans-serif !default;
$font-family-serif: Georgia, 'Times New Roman', Times, serif !default;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace !default;
$font-family-base: $font-family-sans-serif !default;

$font-size-base: 14px !default;
$line-height-base: 1.4 !default;
$font-weight-base: 400 !default;

$font-size-large: 125% !default;
$font-size-small: 85% !default;

$font-size-h1: floor($font-size-base * 2) !default;		// 28px
$font-size-h2: floor($font-size-base * 1.5) !default;	// 21px
$font-size-h3: floor($font-size-base * 1.17) !default;	// 16px
$font-size-h4: $font-size-base !default;				// 14px
$font-size-h5: ceil($font-size-base * 0.83) !default;	// 12px
$font-size-h6: ceil($font-size-base * 0.67) !default;	// 10px

$headings-font-family: inherit !default;
$headings-line-height: 1.2 !default;
$headings-font-weight: inherit !default;
$headings-color: inherit !default;
$headings-margin: 0 0 0.25em;


//== buttons

$btn-font-weight: 400 !default;
$btn-font-size: $font-size-base !default;
$btn-color: #222 !default;
$btn-hover-color: $btn-color !default;
$btn-bg: #e3e3e3 !default;
$btn-hover-bg: darken($btn-bg, 10%) !default;
$btn-focus-bg: darken($btn-bg, 15%) !default;
$btn-active-bg: darken($btn-bg, 20%) !default;
$btn-padding: .5em 1.5em !default;
$btn-border: none !default;
$btn-border-radius: 0 !default;

$btn-primary-color: #fff !default;
$btn-primary-hover-color: $btn-primary-color !default;
$btn-primary-bg: $brand-primary !default;
$btn-primary-hover-bg: darken($btn-primary-bg, 10%) !default;
$btn-primary-focus-bg: darken($btn-primary-bg, 15%) !default;
$btn-primary-active-bg: darken($btn-primary-bg, 20%) !default;
$btn-primary-border-color: transparent !default;

$btn-secondary-color: #fff !default;
$btn-secondary-hover-color: $btn-secondary-color !default;
$btn-secondary-bg: $brand-secondary !default;
$btn-secondary-hover-bg: darken($btn-secondary-bg, 10%) !default;
$btn-secondary-focus-bg: darken($btn-secondary-bg, 15%) !default;
$btn-secondary-active-bg: darken($btn-secondary-bg, 20%) !default;
$btn-secondary-border-color: transparent !default;

$btn-success-color: #fff !default;
$btn-success-hover-color: $btn-success-color !default;
$btn-success-bg: $brand-success !default;
$btn-success-hover-bg: darken($btn-success-bg, 10%) !default;
$btn-success-focus-bg: darken($btn-success-bg, 15%) !default;
$btn-success-active-bg: darken($btn-success-bg, 20%) !default;
$btn-success-border-color: transparent !default;

$btn-warning-color: #fff !default;
$btn-warning-hover-color: $btn-warning-color !default;
$btn-warning-bg: $brand-warning !default;
$btn-warning-hover-bg: darken($btn-warning-bg, 10%) !default;
$btn-warning-focus-bg: darken($btn-warning-bg, 15%) !default;
$btn-warning-active-bg: darken($btn-warning-bg, 20%) !default;
$btn-warning-border-color: transparent !default;

$btn-danger-color: #fff !default;
$btn-danger-hover-color: $btn-danger-color !default;
$btn-danger-bg: $brand-danger !default;
$btn-danger-hover-bg: darken($btn-danger-bg, 10%) !default;
$btn-danger-focus-bg: darken($btn-danger-bg, 15%) !default;
$btn-danger-active-bg: darken($btn-danger-bg, 20%) !default;
$btn-danger-border-color: transparent !default;

$btn-small-font-size: ceil($btn-font-size * 0.83) !default;		// 12px
$btn-large-font-size: floor($btn-font-size * 1.29) !default;	// 18px


//== forms

$input-font-size: inherit !default;
$input-bg: #fff !default;
$input-padding: .5em !default;
$input-border-color: #bbb !default;
$input-border-radius: 0 !default;

$textarea-min-height: 10em !default;

$input-focus-bg: #fff !default;
$input-focus-shadow-color: #0063ff !default;
$input-focus-border-color: #497dd0 !default;

$input-placeholder-color: #aaa !default;
$input-placeholder-font-style: italic !default;

$input-disabled-bg: #e9e9e9 !default;
$input-disabled-color: #999 !default;
$input-disabled-border-color: #bbb !default;


//== tables

$table-background: #f5f5f5 !default;
$table-border: 1px solid #fff !default;

$table-th-background: $brand-primary !default;
$table-th-color: #fff !default;

$table-stripe-background: darken($table-background, 5%) !default;


//== panels

$panel-bg: #f5f5f5 !default;
$panel-border-color: #e5e5e5 !default;
$panel-border-radius: 0 !default;


//== tooltips

$tooltip-trigger-color: inherit !default;
$tooltip-trigger-hover-color: $brand-primary !default;

$tooltip-max-width: 240px !default;
$tooltip-color: #fff !default;
$tooltip-bg: #000 !default;
$tooltip-border-radius: 0 !default;

$tooltip-arrow-width: 7px !default;
$tooltip-arrow-color: $tooltip-bg !default;


//== breadcrumbs

$breadcrumb-separator-slash: "\002F\0020";	// "/ "
$breadcrumb-separator-arrow: "\003E\0020";	// "> "
$breadcrumb-separator: $breadcrumb-separator-arrow !default;