$contentMaxWidth: 1200px;
$contentMinWidth: 320px;
$linkColor: #2752A4;
$linkColorHover: #2D66D2;

@import "normalize";
@import "grid";
@import "defaults";
@import "base";
@import "header";
@import "footer";
@import "content";
@import "slider";
@import "tabs";
@import "video";
@media print { @import "print"; }