$contentMaxWidth: 1200px;
$contentMinWidth: 320px;
$linkColor: #2752A4;
$linkColorHover: #2D66D2;

//== vars
@import "variables";

@import url(http://fonts.googleapis.com/css?family=Oswald);

//== base styles
@import "normalize";
@import "grid";
@import "defaults";
@import "base";
@import "forms";
@import "header";
@import "footer";
@import "content";
@import "slider";
@import "tabs";
@import "video";
@media print { @import "print"; }

//== plugin-dependent styles
@import "tooltips";