@import "flex-mixins";

#container {
	background-color: #FFF;
	max-width: none !important;
	width: 1200px;
}

/* ==========================================================================
   Tables
   ========================================================================== */

table {

	tr:nth-child(even) { background: #ddd; }

	th { background: #eee; }
}

/* ==========================================================================
   Header
   ========================================================================== */
 
#site-header {
	position: relative;
	z-index: 9;

	/*
	@media only screen and (max-width: 767px) {
		background-color: #ddd;
		margin-bottom: 1em;
		padding-bottom: 0;
		box-shadow: 0 0 5px #000;
		& > .row:first-child { padding-bottom: 1em; }
	}
	*/
}

#site-title {
	float: left;
	margin: 0 0 .5em;

	a {
		color: inherit;
		text-decoration: none;
	}

	@media only screen and (max-width: 767px) {
		margin-bottom: 0;
		padding-top: 2px;
	}
}

#nav-toggle { float: right; }

.flyout-nav #nav-toggle {
	float: none;
	position: absolute;
	top: 0;
	left: 10px;
}

.nav {
	padding: 0 1em .5em 1em;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .9em;
	
	li {
		margin: 0;
	}

	a {
		display: block;
		text-decoration: none;
		padding: .5em;
	}

	.nav-item > a {
		color: #CCC;

		.arrow-down { border-top-color: #CCC; }

		&:hover {
			color: #FFF;

			.arrow-down { border-top-color: #FFF; }
		}
	}

	.nav-item.active .dropdown-menu {
		left: 0;
		display: block !important;

	}

	.nav-item.active > a {
		background-color: #FFF;
		color: #2C60C6;

		.arrow-down { border-top-color: #2C60C6; }
	}
	/*
	@media only screen and (min-width: 768px) {*/
		.nav-item {
			float: left;

			& > a { text-align: center; }
		}
	/*}*/
}

.ie8 .nav li {
	display: inline-block;
}

.dropdown-menu {
	position: absolute;
	top: 5.9em;
	left: -999em;
	z-index: 99;
	background-color: #FFF;
	width: 100%;
	border: 1px solid #999;
	border-top-width: 0;
	box-shadow: 0 2px 3px rgba(0,0,0,0.25);
	overflow: visible;

	li {
		display: inline-block;
		margin: 0 2em 0 0;
	}

	a {
		display: block;
		color: inherit;
		text-align: left;

		&:hover { color: #2C60C6; }
	}
	/*
	@media only screen and (max-width: 767px) {
		position: relative;
		display: none;
		top: 0;
		z-index: 1;
		box-shadow: none;
		border: none;
		background-color: #000;
		a {
			padding-left: 2em;
			color: #ccc;
			&:hover {
				background-color: transparent;
				color: #fff;
			}
		}
	}*/
}

/*
@media only screen and (min-width: 768px) {
	
	#site-nav { display: block !important; }
	
}
*/

#site-header .utility {
	position: absolute;
	top: -.5em;
	right: 1em;
	width: 100%;
	text-align: right;

	nav {
		position: absolute;
		top: 38px;
		right: 0;

		li:last-child {
			border-left: 1px solid #666;
			padding-left: .75em;
		}
	}

	form {
		position: absolute;
		top: 1em;
		right: 10px;
	}

	input { max-width: 150px; }
	/*
	@media only screen and (max-width: 1023px) {
		nav { right: 309px; }
		form { right: 10px; }
	}*/
}

@media only screen and (max-width: 767px) {

	.flyout-nav {
		background-color: #222;

		#site-title {
			float: none;
			text-align: center;
		}

		#content { min-height: 413px; }
	}

}

/* ==========================================================================
   Footer
   ========================================================================== */

#site-footer > .row { 
	padding-bottom: 1em;
	padding: 0 1.5em 1em 1.5em; 
}

#site-footer > .row:first-child {
	padding-top: 1em;
	border-top: 1px solid #001B51;
}

#site-footer .col.last { text-align: right; }

/*
@media only screen and (max-width: 767px) {
	
	#site-footer .col { text-align: center; }
	
	#site-footer .col.last {
		padding-bottom: .5em;
		text-align: center;
	}
}
*/

#footer-nav { padding: 0 0 2em; }

#site-footer .utility { font-size: .9em; }

/* ==========================================================================
   Content
   ========================================================================== */

#content,
.section { padding: 0; }

/*======Service Detail Tabs======*/

#tabs-horizontal {
	padding: 1em 0;
}

.resp-tabs-list li {
	padding: .5em 1em !important;
	-webkit-border-radius: 6px 6px 0 0; /* Safari 3-4, iOS 1-3.2, Android ≤1.6 */
	border-radius: 6px 6px 0 0; /* Opera 10.5, IE9+, Safari 5, Chrome, Firefox 4+, iOS 4, Android 2.1+ */
	/* useful if you don't want a bg color from leaking outside the border: */
	-moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
	font-size: .8em !important;
	text-transform: uppercase;
}

li.resp-tab-item {
	background-color: #CCC;
	color: #6F6F6F;
}

li.resp-tab-item:hover { 
	background-color: #e1dfdf; 
}

li.resp-tab-active {
	background-color: #FFF;
	color: #444;
}

.resp-tab-content {
    border-width: 1px 0 0 0 !important;
	padding: 2em 0 !important;
}

.slider {
	position: relative;
	padding: 0;
	margin-top: -2em;
	margin-bottom: 1em;

	li { margin-bottom: 0; }

	img { display: block; }
}

.flex-viewport { min-height: 200px; }

.flex-prev:hover .arrow-left { border-right-color: #fff; }

.flex-next:hover .arrow-right { border-left-color: #fff; }

.slide { position: relative; }

.slide img {
	position: relative;
	z-index: 1;
}

.slide-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 4;
	width: 100%;
	background-color: rgba(0,0,0,.75);
	color: #fff;
	padding: 1em 1em 3em;

	h2 { font-size: 2em; }

	p { font-size: 1.2em; }

	@media only screen and (max-width: 767px) {
		position: relative;
		bottom: auto;
		padding-bottom: 1em;
		background-color: transparent;
		color: inherit;

		p { font-size: 1em; }
	}
}

.grid-overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999;
	width: 100%;

	.row { max-width: 1200px; }

	.col {
		border-right: 1px solid #00eaff;

		&:first-child { border-left: 1px solid #00eaff; }
	
		& > div {
			background-color: rgba(255,0,0,.1);
			height: 1000000px;
			border: solid #00eaff;
			border-width: 0 1px;
		}
	}
}

// Featurette

.featurette {
	@include flexbox;
	@include align-items(center);
	@include justify-content(center);
	padding: 3em 0;

	&:nth-of-type(even) {
		@include flex-direction(row-reverse);
		background-color: #eee;
	}

	.lead {
		font-size: 1.4em;
		margin-bottom: 0;
	}

	.flex-col {
		@include flexbox;
		@include align-items(center);
		@include justify-content(center);
	}

	.featurette-content,
	.featurette-image { max-width: 80%; }

	@media only screen and (max-width: 767px) {
		@include flex-direction(column);

		&:nth-of-type(even) { @include flex-direction(column); }

		.flex-col { margin-bottom: 2em; }

		.flex-col:last-child { margin-bottom: 0; }

		.lead { font-size: 1.2em; }

	}
}

.featurette-header {
	font-size: 3em;

	.muted { color: #999; }

	@media only screen and (max-width: 767px) {
		font-size: 2.4em;
	}
}